<form class="example-form" (ngSubmit)="changeNameList()">
  <md-input-container>
    <input mdInput [(ngModel)]="nameListChanger" name="nameListChanger">
  </md-input-container>
  <button mdButton md-raised-button type="submit" class="md-primary">Zapisz</button>
</form>
