<div class="importDialog">
  <h2 class="dialogTitle">Importowanie Listy</h2>
  <article>
Aby zaimportować listę należy stworzyć plik w formie XLSX lub CSV
  i wykonać odpowiedni szablon zgodny z aplikacją.
    <hr>
  SZABLONY: <a href="../dataTemplates/Nazwa%20Wydarzenia.xlsx">XLSX</a> LUB
  <a href="../dataTemplates/Nazwa%20Wydarzenia.csv">CSV</a>
  </article>
  <div class = "importButtonArea">
    <input type="file" #fileInput (change)="onFileChange($event)">
  </div>
  <!--- to jest button z możliwością zaciągania danych -->
</div>
