.importDialog {
  width: 50vw;
  padding-left: 10px;
  padding-right: 10px;
}

.dialogTitle {
  text-align: center;
  font-family: Arial;
}
article {
  margin: 0px 3vw;
  line-height: 2em;
  font-family: Arial;

}

.importButtonArea {
  margin-left: 3vw;
  margin-right: 20vw;
}

