<md-toolbar>
  <button mdButton md-raised-button class=" btn btn-primary" routerLink="/loginForm" mdTooltip="Exit">
    <md-icon>power_settings_new</md-icon>
  </button>
  <button mdButton md-raised-button class=" btn btn-primary" routerLink="/listOfLists" mdTooltip="Back">
    <md-icon>replay</md-icon>
  </button>
  <button mdButton md-raised-button class=" btn btn-primary" [routerLink]="['/editList',list?.$key]"
          mdTooltip="Edit List">
    <md-icon>border_color</md-icon>
  </button>
</md-toolbar>
<h3> Lista: {{list?.name}}</h3>
<md-input-container class="example-full-width">
  <input mdInput type="text" placeholder="Szukaj" name="name" [(ngModel)]="searchPersonModel">
</md-input-container>
<h4 md-subheader>Goście</h4>
<md-checkbox class="hasNotComeList"
             *ngFor="let person of peopleNotHasCome$ | async | searchPerson : searchPersonModel: person"
             (change)="changeBooleanHasCome(person)" [(ngModel)]="person.hasCome">{{person.surname}} {{person.name}}
</md-checkbox>


<h4 md-subheader>Przybyli</h4>
<md-checkbox class="hasComeList"
             *ngFor="let person of peopleHasCome$ |async | searchPerson : searchPersonModel: person"
             [(ngModel)]="person.hasCome"
             (change)="changeBooleanHasCome(person)">{{person.surname}} {{person.name}}
</md-checkbox>

