button {
  background: #4d90fe;
  border-radius: 5%;
  margin-right:5vw;
}

/*.hasNotComeList .mat-checkbox-layout {*/
  /*margin-top: 10px;*/
  /*padding: 10px;*/
  /*display: block;*/
  /*border: 1px solid #4d90fe;*/
  /*border-radius: 5%;*/
/*}*/

/*.hasComeList .mat-checkbox-layout {*/
  /*margin-top: 10px;*/
  /*padding: 10px;*/
  /*display: block;*/
  /*border: 1px solid #4d90fe;*/
  /*border-radius: 5%;*/

/*}*/
/*Oba style zakomentowane są tutaj w celach informacyjnych, wykorzystane są w style.css */



