<div class="greatings">
  <h1>Witaj w aplikacji CheckList</h1>
  <h3>Aby swobodnie korzystać z aplikacji</h3>
  <h3>Wypełnij formularz logowania</h3>
</div>

<form (ngSubmit)="formSubmit()">
  <md-input-container>
    <td> <input mdInput type="text" placeholder="Username" [(ngModel)]="username" name="username"></td>
  </md-input-container>
  <md-input-container>
    <td><input mdInput  placeholder="Password" type="password" [(ngModel)]="userPassword" name="userPassword"></td>
  </md-input-container>
  <button md-raised-button class="md-primary" type="submit" >Zaloguj się</button>

</form>

