form {
  border-radius: 5%;
  border: 5px solid #4d90fe;
  width: 300px;
  padding: 50px;
  text-align: center;
  margin: 20vh auto;

}

button {
  background: #4d90fe;
  border-radius: 5%;
}

md-input-container{
  display: block;
}

.greatings {
  text-align: center;
}
.credentails {
  padding: 40px;
}
