<md-toolbar>
  <button mdButton md-raised-button class=" md-primary" routerLink="/loginForm" mdTooltip="Exit">
    <md-icon>power_settings_new</md-icon></button>
  <button mdButton md-raised-button class=" md-primary" [routerLink]="['/checkList', list?.$key]" mdTooltip="Back">
    <md-icon>replay</md-icon></button>
  <button mdButton md-raised-button class=" md-primary" (click)="editPerson()" mdTooltip="Person Editor">
          <!--*ngIf="isOneChecked()" -->

    <md-icon>person_outline</md-icon></button>
  <button mdButton md-raised-button class=" md-primary" (click)="removeCheckedPeople()"  mdTooltip="Remove">
    <!--*ngIf="isMorethanZero()"-->
    <md-icon>delete</md-icon></button>
</md-toolbar>

<form class="example-form">
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Name" name="name" [(ngModel)]="name">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput placeholder="Surname" name="surname" [(ngModel)]="surname">
  </md-input-container>
  <button mdButton (click)="addPerson()" *ngIf="!appear " md-raised-button type="submit" class="md-primary">
    <md-icon>playlist_add</md-icon></button>
  <button mdButton (click)="updatePerson()" *ngIf="appear" md-raised-button  type="submit" class="md-primary">Update</button>
</form>

<md-card>
  <md-card-content>
    <h2 class="example-h2">{{list?.name}}</h2>
    <section  class="example-section">
      <md-checkbox *ngFor="let person of people" [(ngModel)]="person.checked" class="example-margin wide-label">
        {{person.surname}} {{person.name}}
      </md-checkbox>
    </section>
  </md-card-content>
</md-card>
