.example-h2 {
  margin: 10px;
}

.example-section {
  align-content: center;
  align-items: center;

}

md-checkbox {
  margin-top: 10px;
  padding: 10px;
  display: block;
  width: 100%;
  border: 1px solid #4d90fe;
  border-radius: 5%;
}
button {
  background: #4d90fe;
  border-radius: 5%;
  margin-right:5vw;
}
