/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.wide-label > label {
  display: block;
}

.hasNotComeList .mat-checkbox-layout {
  margin-top: 10px;
  padding: 10px;
  display: block;
  border: 1px solid #4d90fe;
  border-radius: 5%;
}

.hasComeList .mat-checkbox-layout {
  margin-top: 10px;
  padding: 10px;
  display: block;
  border: 1px solid #4d90fe;
  border-radius: 5%;
}

