.toolbarButton {
  background: #4d90fe;
  border-radius: 5%;

}

.listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.listItem span {
  width: 100%;
  padding: 15px 0px;
}

md-list-item {
  display: block;
  width: 100%;
  border: 1px solid #4d90fe;
  border-radius: 5%;
}

md-toolbar button {
  margin-right:5vw;

}



