<md-toolbar>
  <button md-raised-button mdButton class="toolbarButton" routerLink="/loginForm" mdTooltip="Exit">
    <md-icon>power_settings_new</md-icon>
  </button>
  <button md-raised-button mdButton class="toolbarButton" (click)="openImportDialog()" mdTooltip="Importuj liste">
    <md-icon>backup</md-icon>
  </button>
</md-toolbar>
<md-list>
  <h3 md-subheader>Lista list</h3>
  <md-input-container class="example-full-width">
    <input mdInput type="text" placeholder="Szukaj" name="listOfLists" [(ngModel)]='searchElementModel'>
  </md-input-container>
  <md-list-item *ngFor="let list of lists$|async | searchElement : searchElementModel: list.name">
    <div class="listItem">
      <span (click)="openList(list.$key)">{{list.name}}</span>
      <button md-button [mdMenuTriggerFor]="menu">
        <md-icon class="listIcon">list</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <div style="text-align: center">{{list.name}}</div>
        <button md-menu-item (click)="openDialog(list)">Zmień nazwę</button>
        <button md-menu-item (click)="exportList(list)">Eksportuj listę</button>
        <button md-menu-item (click)="removeElementOfList(list)">Usuń listę</button>
      </md-menu>
    </div>
  </md-list-item>
</md-list>

